{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "prefer-default-export": false,
  "no-multiple-empty-lines": [{"max": 2 }]
}
